body {
    background: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    color: #302b27;
}

h1 {
    padding: 0px;
    font-size: 5em;
    display: left;
    white-space: nowrap;
}

h2 {
    font-size: 2.5em;
}

button {
    font-size: 50px;
    display: round;
    max-width: 500px;
    max-height: 200px;
    color: darkgray; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    border-style: solid;
    border: #302b27;
    padding: 10px;
    align-items: left;
}

button:hover {
    background: rgb(25, 25, 197);
    color: lightgray;
}

.flex{
    display: flex;
}

.containerLeft {
    float: left;
    width: 50%;
    height: 100%;
}

.containerRight {
    margin-left: 50%;
    height: 100%;
}

#btnArea {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

#txtArea {
    font-size: 40px;
    padding: 2%;
    height: 100%;
    /* width: 100%; */
    background-color: aliceblue;
    color: #302b27;
}

#startBtn {
    background-color: #4e60b4;
    font-size: 60px;
    width: fit-content;
    height: min-content;
    color: aliceblue;
}

#startBtn:hover {
    transition: 0.5s;
    background: #243dad;
    
}

#restart:hover {
    background: hsl(295, 57%, 67%);
}

#restart {
    transition: 0.5s;
    background: hsl(295, 56%, 76%);
    color: aliceblue;
    border: #302b27;
}

#resArea{
    padding-top: 40px;
}

@media screen and (max-width: 1000px) {
    h1{
      font-size: 3em;
    }
  
    button{
      font-size: 1em;
    }
  
    #txtArea{
      font-size: 1em;
    }
  
    #btnArea{
      flex-direction: column;
      padding: 1em
    }
  }