body {
    background: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    color: #302b27;
}

h1 {
    padding: 0px;
    font-size: 5em;
    display: left;
    white-space: nowrap;
}

h2 {
    font-size: 2.5em;
}

button {
    font-size: 50px;
    display: inline-block;
    position: relative;
    max-width: 70%;
    max-height: 300px;
    color: aliceblue; 
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
    border-style: solid;
    border: #302b27;
    background-color: #4e60b4;
    padding: 10px;
    align-items: left;
    margin: 4px;
}

button:hover {
    background: #243dad;
    color: aliceblue;
    padding-right: 24px;
    padding-left:8px;
}

button:after {
    content: 'à¶ž';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
button:hover:after {
  opacity: 1;
  right: 10px;
}

.flex {
    display: flex;
}

.containerLeft {
    float: left;
    width: 50%;
    height: 100%;
}

.containerRight {
    margin-left: 50%;
    height: 100%;
}

#btnArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

#txtArea {
    font-size: 60px;
    padding: 2%;
    height: 100%;
    border-radius: 5px;
    background-color: aliceblue;
    color: #302b27;
}

#startBtn {
    background-color: #4e60b4;
    font-size: 60px;
    width: fit-content;
    height: min-content;
    color: aliceblue;
}

#startBtn:hover {
    transition: 0.5s ease;
    background: #243dad;
    
}

#restart:hover {
    background: hsl(295, 57%, 67%);
}

#restart {
    transition: 0.5s ease;
    background: hsl(295, 56%, 76%);
    color: aliceblue;
    border: #302b27;
}

#resArea{
    padding-top: 40px;
}

@media screen and (max-width: 1000px) {
    h1{
      font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }
  
    body {
        font-size: 2em;
    }

    button{
      font-size: 1em;
    }
  
    #txtArea{
      font-size: 1em;
    }
  
    #btnArea{
      flex-direction: column;
      padding: 1em
    }
  }